zoom_meeting/SupportingFiles/keys.plist
.DS_Store
MobileRTC.framework/
MobileRTCResources.bundle/
MobileRTCScreenShare.framework/
Gemfile.lock
.bundle/
vendor/
fastlane/
## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
zoom_meeting.xcworkspace/xcuserdata/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

zoom_meeting.xcodeproj/project.xcworkspace/xcuserdata/
zoom_meeting.xcodeproj/xcuserdata